/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.row {
    padding-top: 5px;
}
.buttonRow{
    padding-top: 5px;
    text-align: right;
}
.btn {
    margin: 2px;
}
